{% load static %}

{% block navbar %}
            <!--Navbar Start-->
            <nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
                <div class="container-fluid custom-container">
                    <a class="navbar-brand text-dark fw-bold me-auto" href="{% url 'index'%}">
                        <img src="{% static 'images/website-own-logo.png' %}" style="width: 100%; height: 50px;" alt="" class="logo-dark" />
                        <img src="{% static 'images/website-own-logo.png' %}" style="width: 100%; height: 50px;" alt="" class="logo-light" />
                    </a>
                    <div>
                        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mx-auto navbar-center">
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown dropdown-hover">
                                    <a href="{% url 'index' %}" class="nav-link" id="homedrop">
                                        Home
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown dropdown-hover">
                                    <a href="{% url 'mainindex' %}" class="nav-link" id="homedrop">
                                        Home
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown dropdown-hover">
                                <a href="{% url 'job-list' %}"class="nav-link" id="homedrop">
                                    Jobs
                                </a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown dropdown-hover">
                                    <a href="{% url 'candidate-list' %}" class="nav-link" id="homedrop">
                                        Candidates
                                    </a>
                                </li>
                                <li class="nav-item dropdown dropdown-hover">
                                    <a href="{% url 'company-list' %}" class="nav-link" id="homedrop">
                                        Companies
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                            </li>
                            <li class="nav-item dropdown dropdown-hover">
                                <a class="nav-link" href="javascript:void(0)" id="jobsdropdown" role="button" data-bs-toggle="dropdown">
                                    Company <div class="arrow-down"></div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="jobsdropdown">
                                    <li><a class="dropdown-item" href="{% url 'about' %}">About Us</a></li>
                                    <li><a class="dropdown-item" href="{% url 'services' %}">Services</a></li>
                                    <li><a class="dropdown-item" href="{% url 'team' %}">Team</a></li>
                                    <li><a class="dropdown-item" href="{% url 'pricing' %}">Pricing</a></li>
                                    <a class="dropdown-item" href="{% url 'privacy-policy' %}">Privacy & Policy</a>
                                    <li><a class="dropdown-item" href="{% url 'faqs' %}">Faqs</a></li>
                                </ul>
                            </li>
                        </ul><!--end navbar-nav-->
                    </div>
                    <!--end navabar-collapse-->
                    <ul class="header-menu list-inline d-flex align-items-center mb-0">
                        {% if user.is_authenticated %}
                        <li class="list-inline-item dropdown me-4">
                            <a href="javascript:void(0)" class="header-item noti-icon position-relative" id="notification" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="mdi mdi-bell fs-22"></i>
                                <div class="count position-absolute">{{request.user.notifications.unread|length}}</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end p-0" aria-labelledby="notification">
                                <div class="notification-header border-bottom bg-light">
                                    <h6 class="mb-1"> Notification </h6>
                                    <p class="text-muted fs-13 mb-0">You have 0 unread Notification</p>
                                </div>
                                <div class="notification-wrapper dropdown-scroll">
                                    {% for notification in  request.user.notifications.unread %}
                                    <a href="javascript:void(0)" class="text-dark notification-item d-block active">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar-xs bg-primary text-white rounded-circle text-center">
                                                    <i class="uil uil-user-check"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mt-0 mb-1 fs-14">{{notification.description}}</h6>
                                                <p class="mb-0 fs-12 text-muted"><i class="mdi mdi-clock-outline"></i> <span>3 min
                                                    ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                    <!--end notification-item-->

                                </div><!--end notification-wrapper-->
                                <div class="notification-footer border-top text-center">
                                    <a class="primary-link fs-13" href="javascript:void(0)">
                                        <i class="mdi mdi-arrow-right-circle me-1"></i> <span>View More..</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        <li class="list-inline-item dropdown">
                            {% if user.is_authenticated %}
                                <a href="javascript:void(0)" class="header-item" id="userdropdown" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="{% if request.session.profile_pic != '' %}/{{ request.session.profile_pic }}{% else %}{% static 'images/profile.jpg' %}{% endif %}" alt="mdo" width="35" height="35" class="rounded-circle me-1"> <span class="d-none d-md-inline-block fw-medium">Hi, {{ user.username }}</span>
                                </a>
                            {% endif %}
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown">
                                {% if request.user.is_company %}
                                    <li><a class="dropdown-item" href="{% url 'manage-jobs' %}">Manage Jobs</a></li>
                                {% endif %}

                                {% if request.user.is_company %}
                                    <li><a class="dropdown-item" href="{% url 'my-jobs' %}">My Jobs</a></li>
                                {% endif %}
                                <!--<li><a class="dropdown-item" href="{% url 'bookmark-jobs' %}">Bookmarks Jobs</a></li>-->
                                <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'sign-out' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul><!--end header-menu-->
                </div>
                <!--end container-->
            </nav>
            <!-- Navbar End -->
{% endblock navbar %}
