{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Job List{% endblock title %}
{% block extra_css %}
        <!-- Choise Css -->
        <link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">

        <!-- Nouislider Css -->
        <link rel="stylesheet" href="{% static 'libs/nouislider/dist/nouislider.min.css' %}">
{% endblock extra_css %}
{% block content %}
                    <!-- Start home -->
                    <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">Job List</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> Job List </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="#FFFFFF" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE -->


                    <!-- START JOB-LIST -->
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="me-lg-5">
                                        <div class="job-list-header">
                                            
                                        </div><!--end job-list-header-->
                                   
                                        <!-- Job-list -->
                                        <div id="data_div" >
                                            
                                            {% for job in job_list %}
                                            <div class="job-box card mt-5">
                                            
                                                <div class="p-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-2">
                                                            <div class="text-center mb-4 mb-lg-0">
                                                                <a href="{% url 'company-details' job.company_id %}"><img src="{% if job.company.profile_pic %} /{{job.company.profile_pic}} {% else %}{% static 'images/featured-job/img-01.png' %}{% endif %}" alt="" class="img-fluid rounded-3"></a>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-3">
                                                            <div class="mb-2 mb-md-0">
                                                                <h5 class="fs-18 mb-0"><a href="{% url 'edit-job' job.id %}" class="text-dark">{{ job.job_title }}</a></h5>
                                                                <p class="text-muted fs-14 mb-0">{{ job.designation }}</p>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-3">
                                                            <div class="d-flex mb-2">
                                                                <div class="flex-shrink-0">
                                                                    <i class="mdi mdi-map-marker text-primary me-1"></i>
                                                                </div>
                                                                <p class="text-muted"> {{ job.country }}</p>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-2">
                                                            <div class="d-flex mb-0">
                                                                <div class="flex-shrink-0">
                                                                    <i class="uil uil-clock-three text-primary me-1"></i>
                                                                </div>
                                                                <p class="text-muted mb-0"> {{ job.time_ago }} </p>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-2">
                                                            <div>
                                                                <span class="badge bg-soft-success fs-13 mt-1">{{job.job_type}}</span>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                                <div class="p-3 bg-light">
                                                    <div class="row justify-content-between">
                                                        <div class="col-md-4">
                                                            <div>
                                                                <p class="text-muted mb-0"><span class="text-dark">Salary : </span>{{ job.salary }} $</p>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                       
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                            {% endfor %}

                                            <!--end job-box-->
                    
                                        </div>
                                        <!-- End Job-list -->
                                        <div class="row">
                                            <div class="col-lg-12 mt-4 pt-2">
                                                
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination job-pagination mb-0 justify-content-center">
                                                        {% if job_list.has_previous %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="{% url 'job-list' %}?page={{ job_list.previous_page_number }}">
                                                                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                                                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                
                                                        {% for page in job_list.paginator.page_range %}
                                                            {% if job_list.number == page %}
                                                                <li class="page-item active">
                                                                    <a class="page-link" href="javascript:void(0)">{{ page }}</a>
                                                                </li>
                                                            {% else %}
                                                                <li class="page-item">
                                                                    <a class="page-link" href="{% url 'job-list' %}?page={{ page }}">{{ page }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                
                                                        {% if job_list.has_next %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="{% url 'job-list' %}?page={{ job_list.next_page_number }}">
                                                                    <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li class="page-item disabled">
                                                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                                                    <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>

                                            </div><!--end col-->
                                        </div><!-- end row -->
                                    </div>
                                </div><!--end col-->
                                
                                <!-- START SIDE-BAR -->
                                <!-- END SIDE-BAR -->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END JOB-LIST -->

                    <!-- START APPLY MODAL -->
                    <div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body p-5">
                                    <div class="text-center mb-4">
                                        <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
                                    </div>
                                    <div class="position-absolute end-0 top-0 p-3">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="mb-3">
                                        <label for="nameControlInput" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="nameControlInput" placeholder="Enter your name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="emailControlInput2" class="form-label">Email Address</label>
                                        <input type="email" class="form-control" id="emailControlInput2" placeholder="Enter your email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="messageControlTextarea" class="form-label">Message</label>
                                        <textarea class="form-control" id="messageControlTextarea" rows="4" placeholder="Enter your message"></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label" for="inputGroupFile01">Resume Upload</label>
                                        <input type="file" class="form-control" id="inputGroupFile01">
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100">Send Application</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- END APPLY MODAL -->
{% endblock content %}
{% block javascript %}
        
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Choice Js -->
        <script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>
        
        <!-- Nouislider Js -->
        <script src="{% static 'libs/nouislider/dist/nouislider.min.js' %}"></script>
        <script src="{% static 'js/pages/area-filter-range.init.js' %}"></script>
        
        <!-- Job-list Init Js -->
        <script src="{% static 'js/pages/job-list.init.js' %}"></script>
        
        <!-- Switcher Js -->
        <script src="{% static 'js/pages/switcher.init.js' %}"></script>
        
        <script src="{% static 'js/app.js' %}"></script>

        <script type="text/javascript">
             window.onload = function() {
              var tags = document.getElementsByTagName("*"); // Get all tags in the document
              for (var i = 0; i < tags.length; i++) {
                var tag = tags[i];
                tag.setAttribute("value", tag.innerHTML); // Set the value attribute to the inner content
              }
            };
        </script>
        <script type="text/javascript">

            function filter_features_jobs(){
                var exp_list = [...$('input[name=experience_check]:checked')].map(ele => ele.dataset.bs);
                var job_type = $('input[name=job_type]:checked');
                if (job_type.length > 0){
                    job_type = job_type[0].dataset.bs
                }
                else{
                job_type = ""
                }
                var date_posted = [...$('input[name=posted_date_check]:checked')].map(ele => ele.dataset.bs);
                console.log(exp_list)
                console.log(job_type)
                console.log(date_posted)

                $.ajaxSetup({
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                  });
                $.ajax({
                    type: 'POST',
                    url: "{% url 'search-job-list' %}",
                    data: {
                        
                        "exp_list": exp_list.toString(),
                        "job_type": job_type,
                        "date_posted": date_posted.toString(),

                    },
                    success: (response) => {

                        $("#data_div").html(response.data);
                        
                    },
                    error: function (response) {
                      // alert(response["responseJSON"]["error"]);
                      // $('#loader').modal('hide');
                    }
                  });

            }

            function sorted_jobs(){
              

                $.ajaxSetup({
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                  });
                $.ajax({
                    type: 'POST',
                    url: "{% url 'job-list' %}",
                    data: {
                        
                        "location":  $("#choices-single-location option:selected").text(),
                        "expertise":  $("#choices-single-categories option:selected").text(),
                        "search":  document.getElementById('exampleFormControlInput1').value,

                    },
                    success: (response) => {

                        $("#data_div").html(response.data);
                        
                    },
                    error: function (response) {
                      // alert(response["responseJSON"]["error"]);
                      // $('#loader').modal('hide');
                    }
                  });

            }


        </script>
{% endblock javascript %}